In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
data = {'Fahrzeug': ['Auto', 'Motorrad', 'Motorrad', 'Auto', 'Auto'],  'PS': [380, 70, 124, 165,156]}
DF_obj = pd.DataFrame(data)
DF_obj

   Fahrzeug   PS
0      Auto  380
1  Motorrad   70
2  Motorrad  124
3      Auto  165
4      Auto  156

In [4]:
# Gruppierung der Durchschnittswerte pro Untergruppe
gr = DF_obj.groupby(['Fahrzeug'])
gr.mean()

                  PS
Fahrzeug
Auto      233.666667
Motorrad   97.000000

In [5]:
# Gesamtsumme Leistung pro Untergruppe
gr.sum()

           PS
Fahrzeug
Auto      701
Motorrad  194

In [6]:
# Min. Leistung pro Untergruppe
gr.min()

           PS
Fahrzeug
Auto      156
Motorrad   70